@media screen and (max-width: 1200px) {
    .about {
        height: 100vh !important;
    }
    .photo {
        width: 210px !important;
        height: 250px !important;
        margin: auto !important;
        clear: both !important;
    }
    .info {
        width: 100% !important;
        height: 43% !important;
        clear: both !important;
    }
    #panel h1 {
        width: 90% !important;
    }
}

@media screen and (max-width: 700px) {
    .header {
        height: 60vh !important;
    }
    .name {
        width: 80% !important;
    }
    .contact-info {
        width: 80% !important;
        text-align: left !important;
    }
    #panel h1 {
        font-size: 1.1em !important;
    }
}
